.MainTableRow-Name {
    width: 300px;
}
.MainTableRow-Age {
    width: 203px;
}
.MainTableRow-Position {
    width: 203px;
}
.MainTableRow-Email {
    width: 203px;
}
.MainTableRow-Actions {
    width: 203px;
}
